nav.navbar.navbar-default.navbar-fixed-bottom
  .container
    div.record-video-section
      form.upload-form(method="post", action = "/upload",enctype="multipart/form-data")
        input(id="fileUpload" type="file" name="upl" accept="video/*" capture="camera")
        input(id="change-channelname" type="hidden" name="channel" value="")
        
      label.file-label(for="upl")
