nav.navbar.navbar-light.bg-faded
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#exCollapsingNavbar', aria-controls='exCollapsingNavbar', aria-expanded='false', aria-label='Toggle navigation')
  #exCollapsingNavbar.collapse
  h1= user
    .text-muted.p-1
      if admin
        .nav-item-navlink admin
