nav.navbar.navbar-light.bg-faded

  if online
    a.logout-btn(href="/logout") Log out
    .user-name= user
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#exCollapsingNavbar', aria-controls='exCollapsingNavbar', aria-expanded='false', aria-label='Toggle navigation')
  #exCollapsingNavbar.collapse

    .text-muted.p-1
      a.nav-item-navlink(href="/") Home
      if online
        a.nav-item-navlink(href="/admin") Admin
