extends layout

block content
    h1= title
    
    h4 Add Channel
    form#formAddUser(name="adduser",method="post",action="/addchannel")
        input#inputChannelName(type="text", placeholder="Name of channel", name="channelName")
        button#btnSubmit(type="submit") Add