extends layout

block content
    h1.
        Your channels
    
    each channel, i in channellist
        .channels(id=channel.channel)
            svg
                polygon(points='50,14 50,186 200,100;')
            p.channel-title= channel.channel
    div        
        button.redirect-buttons#redirect-to-add-new-channel-button Add new channel
        button.redirect-buttons#redirect-to-remove-channel-button Remove channel
