extends layout

block content
    div#channellist-container.col-lg-12.col-md-12.col-xs-12
        each channel, i in channellist
            div.col-lg-4.col-md-6.col-xs-6
              a(href="/video?channel=" + channel.channel)
                .channels(id=channel.channel, style='background-color: {channel.color}')
                    h3.channel-title= channel.channel

    include includes/footer
