extends layout

block content
    h1= title
    
    h4 Remove Channel
    form#formRemoveChannel(name="removechannel",method="post",action="/removechannel")
        input#inputChannelName(type="text", placeholder="Name of channel", name="channelName")
        button#btnSubmit(type="submit") Remove