extends layout

block content
  if admin
    p admin
  h1 Secret Area!
  a(href="/logout") logga ut

  form(method="post", action = "/upload",enctype="multipart/form-data")
    input(type="file" name="upl")
    input(type="submit")
