extends layout

block content
    video(controls)
      each item, i in src
        source(src=item)

    div#video-overlay.col-lg-12.col-md-12.col-xs-12
      h1 Video overlay
      // display username of person who created the video
