body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  vertical-align: middle;
}

a {
  color: #00B7FF;
}

.remove-link{
  display: inline-block;
}

.admin-list li{
  display: inline-block;
}

.admin-list form{
  display: inline-block;
  margin-left: 25px;
}

.user-name{
  float: right;
  margin-right: 15px;
}

.logout-btn{
  float: right;
}

.channels {
	display: table-cell;
    vertical-align: middle;
    text-align: center;
	background-color: rgba(190, 0, 190, 0.6);
	height: 300px;
	width: 300px;
	border-style: solid;
	border-width: 0;
	border-color: #000000;
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
	margin: 25px;
	position: relative;
	-webkit-box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.7);
    box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.7);
}

.channel-title {
	z-index: 100;
	font-size: 3.5em;
	color: rgba(255,255,255,1);
	position: absolute;
	left: 25%;
	bottom: 30%;
	text-transform: capitalize;
	text-shadow: 2px 2px rgba(0,0,0,0.7);
}
.button {
	height: 20px;
	width: 20px;
	background-color: red;
}
#button1 {
	background-color: #ffffff;
	border-radius: 5px;
	padding: 5px;
}
.redirect-buttons {
	margin: 10px;
	float: left;
}
svg {
	position: absolute;
	top: 0;
	left: 0;
	height: inherit;
	width: inherit;
}
polygon {
	stroke-width: 0;
	position:relative;
	stroke: #000000;
  	fill: rgba(190, 0, 190, 0.65) !important;
	fill: #ff00ff;
}
